# extends "base_form.html"
# block body
# if error
  <div class="error">
  <h2>
  {{error}}
  </h2>
  </div>
# endif
  <div class="form-container">
    <h2>Edit your talk information here</h2>
    <h3>Please fill in this form before July 31, 2023</h3>
    <form method="POST" enctype="multipart/form-data">
      <div class="input-field">
        <label for="talk-title">Title of your talk</label>
        <input type="text" id="title" name="title" required value="{{obj.title}}">
      </div>
      <div class="input-field">
        <label for="presented-by">Presented by</label>
        <input type="text" id="presented_by" name="presented_by" required value="{{obj.presented_by}}">
      </div>
      <div class="input-field">
        <label for="coauthors">Coauthors (separate their names by a comma)</label>
        <input type="text" id="coauthors" name="coauthors" value="{{obj.coauthors}}">
      </div>
      <div class="input-field">
        <div class="file-field">
# if have_abstract
<ul>
<li>You uploaded an abstract previously,
the length of the abstract is {{abstract_length}} bytes.</li>
<li>
You may view the abstract <a href="{{abstract_url}}">here</a>.</li>
<li>You may upload a new version of the abstract,
it will replace the current one.
</li>
</ul>
# else
<ul>
<li>If you wish, you may upload a LaTeX abstract here (max. 2 pages).</li>
<li>
Please, use <a href="https://raw.githubusercontent.com/gjenca/ssaos_abstract_template/main/abstract.tex">this template</a> for your abstract.
</li>
</ul>
# endif
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Your abstract (tex file)">
          </div>
            <input type="file" id="abstract_tex" name="abstract_tex">
        </div>
      </div>
      <div class="input-field">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
# endblock
