# extends "base.html"
# block body
<h1>Thank you for submitting your arrival/departure information. </h1>
<h2>Check the following data, please.</h2>
<p>
<h3>You submitted this:</h3>
<ul>
# for key in ['arrival','arrival_other_val','departure','arr_dep_remarks']
# if obj[key]
<li> {{key}} = {{obj[key]}}
# endif
# endfor
</ul>
<h3>You may now:</h3>
<ol>
<li>Return back and correct the data <a href="{{correct_url}}">in the form</a></li>
<li>Return to the <a href="https://math.sk/ssaos2023/">SSAOS 2023 page</a></li>
</ol>
# endblock
