[Unit]
Description=Gunicorn - yadata_editable
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/usr/local/lib/yadata_editable/
RuntimeDirectory=gunicorn
ExecStart=/usr/bin/gunicorn main:app --bind localhost:8000 --log-level=debug
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target


